---
layout: common
---

{% include page_title.html title=page.Name %}
{% include tactic_list.html bin=page %}

{{ page.Description | markdownify }}

<script async src="https://www.googletagmanager.com/gtag/js?id="></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '');
</script>

<script src="{{ '/assets/url_helper.js' | relative_url }}"></script>
<br>
<div><b>Paths:</b>
	<ul class="no-list-style">
	{% for ent in page.Full_Path %}
	<li>{{ent.Path}}</li>
	{% endfor %}
	</ul>
</div>
{% assign resources = page.Resources %}
{% if resources and resources.size > 0 %}
<br>
<b>Resources:</b>
<ul class="no-list-style">
	{% for ent in page.Resources %}
	<li><a href="{{ent.Link}}">{{ent.Link}}</a></li>
	{% endfor %}
</ul>
{% endif %}
{% assign acknowledgements = page.Acknowledgement %}
{% if acknowledgements and acknowledgements.size > 0 %}
<br>
<div><b>Acknowledgements:</b>
<ul class="no-list-style">
	{% for pers in page.Acknowledgement %}
	<li>{{pers.Person}}{% if pers.Handle %} (<a href="https://twitter.com/{{pers.Handle}}">{{pers.Handle}}</a>){% endif %}</li>
	{% endfor %}
</ul>
</div>
{% endif %}
<br>
<ol>
{% assign test = page.Commands | group_by:"Category"%}
{% for Command in test%}
	{% assign tactic_name = Command.name | downcase %}
<h2 id="{{tactic_name}}" class ="tactic-name">
	{{- site.data.tactics[tactic_name].label -}}
</h2>
	{% for item in Command.items %}
	
		<li><h3>{{item.Name}}</h3></li>
		{{item.Description | escape}}
		<br>
		<br>
		{{item.Usecase | escape}}
		<br>
		<br>
		{% assign behaviors = item.Behaviors %}
		{% if behaviors and behaviors.size > 0 %}

		<div><b>OS Behavior:</b>
		<ol class="inside-list">
			{% for behavior in behaviors %}
			<li>{{behavior.Step}}</li>
			{% endfor %}
		</ol>
		</div>
		{% endif %}

		{% assign repros = item.Execute %}
		{% if repros and repros.size > 0 %}
		<div>
			<b>Execute:</b>
			<ul class="no-list-style">
				{% for repro in repros %}{% for entity in repro %}
					{% if entity[0] != 'IOC' %}
						{% capture value %} {{ entity[1] }} {% endcapture %}
					{% else %}
						{% assign value = entity[1] | escape %}
					{% endif %}
					{% if entity[0] == 'Prelude Operator' %}
						<li><a href="https://www.prelude.org/"></a>{{entity[0]}}</a>: <pre><code>{{value}}</code></pre></li>
					{% else %}
						<li>{{entity[0]}}: <pre><code>{{value}}</code></pre></li>
					{% endif %}
				{% endfor %}{% endfor %}
			</ul>
		</div>
		{% endif %}

{% assign detections = item.Detect %}
{% if detections and detections.size > 0 %}
<div>
	<b>Detect:</b>
	<ul class="no-list-style">
		{% for detection in detections %}{% for entity in detection %}
			{% if entity[0] == 'Notes' %}
				<ul class="notes-padding no-list-style">
					{% assign value = entity[1] | escape %}
					<li><em>{{value}}</em></li>
				</ul>
			{% else %}
				{% assign value = entity[1] | escape %}
				<li>{{entity[0]}}: <pre><code>{{value}}</code></pre></li>

			{% endif %}
		{% endfor %}{% endfor %}
	</ul>
</div>
{% endif %}


{% assign responses = item.Respond %}
{% if responses and responses.size > 0 %}

<div><b>Respond:</b>
<ol class="inside-list">
	{% for response in responses %}
	<li>{{response.Step}}</li>
	{% endfor %}
</ol>
</div>
{% endif %}

		<b>Privileges required</b>: {{item.Privileges}}
		<br>
		<b>MITRE ATT&CK&reg</b>: <span data-attack-tid="{{item.MitreID}}">{{item.MitreID}}</span>
		<br>
		<br>
		<br>
	{% endfor %}
{% endfor %}
</ol>